@import '../../sass/main.scss';

#ubicationCards {
  display: grid;
  grid-template-columns: repeat(3,30%);
  gap: 20px;
  margin: 100px auto;
  place-content: center;

  .cardsAbout {
    margin: auto;
  }
}

#ubicationText {
  margin-top: 100px;
  text-align: center;
}