$primaryColorsLight: (
  primary: rgb(255, 255, 255),
  secondary: rgb(45, 117, 177),
  hover: rgb(60, 167, 230),
  containerBackground: rgb(214, 210, 210),
);

$textColorsLight: (
  text: rgba(0, 0, 0),
  heading: rgb(241, 25, 25),
  subheading: rgb(179, 37, 37),
  link: rgb(0, 0, 0),
  hover: rgb(147, 220, 248),
);

$buttonColorsLight: (
  button: rgb(238, 238, 238),
  buttonText: rgb(0, 0, 0),
  border: rgb(52, 91, 163),
  hover: rgb(36, 73, 173),
);
