$primaryColorsNight: (
  primary: rgb(60, 61, 61),
  secondary: rgb(104, 104, 104),
  hover: rgb(124, 162, 233),
  containerBackground: rgb(73, 73, 73),
);

$textColorsNight: (
  text: rgb(255, 255, 255),
  heading: rgb(216, 41, 41),
  subheading: rgb(175, 38, 38),
  link: rgba(255, 255, 255),
  hover: rgb(47, 122, 122),
);

$buttonColorsNight: (
  button: rgb(236, 32, 32),
  buttonText: rgb(255, 255, 255),
  border: rgb(105, 105, 105),
  hover: rgb(71, 96, 165),
);
